/*
This stylesheet is applied after the theme's default one,
and thus any overrides or additions can be added here.

More info:
    http://sphinx-doc.org/extdev/appapi.html?highlight=add_stylesheet#sphinx.application.Sphinx.add_stylesheet
    https://github.com/snide/sphinx_rtd_theme/issues/117#issuecomment-41571653
*/

/* Reference admonition (otherwise this shows up as some warning/alert!) */
div.episode.admonition {
    /* needed so images don't bleed into episode box */
    clear:both;
    background-color: #c8edff;
}

/* hide search text (references py modules!) */
p.searchtip { visibility: hidden; }


/* Put box around captions */
.figure {
    display: table !important; /*!important needed to override more specific selecters in theme.css*/
    white-space: normal;
}
.caption {
    display: table-caption;
    caption-side: bottom;
    background-color: #e3e3e3;
    padding: 0px 10px 10px 10px;
    line-height: 16px;
    margin: 0;
}
/* end box */
