{% extends "!layout.html" %}
{% block sidebarlogo %}
<center>
<a href="index.html">
<img src="_static/sidebarlogo.png" width=200 height=144 />
</a>
</center>
{% endblock %}

{% block footer %}
<center>
    <p>
        <small>&copy; 2011-2016 Blender Podcast<br>
            <a href="http://dingto.org/imprint.html">Imprint</a>
        </small>
    </p>
</center>
{% endblock %}
